{{!-- details for classes - do an if it is booked do this and if it is not do this --}}

<main>
<h1>
    {{name}}
</h1>
<div>
    <h2>{{when}}</h2>
    <p>{{description}}</p>
    <p>{{location}}</p>
    <img src="{{locationImg}}">
</div>
{{#if classes.booked}}
<a scr="{{!-- go to previous page --}}"><p>Back</p></a>
<a scr="{{!-- pop up to confirm --}}"><p>Cancel</p></a>
{{/if}}
{{#if !classes.booked}}
<a src="{{!-- go to previous page --}}"><p>Back</p></a>
<a src="{{!-- pop up to confirm --}}"><p>Book</p></a>
{{/if}}

</main>
<script>
  document.querySelectorAll('.cancel-btn').forEach(btn => {
    btn.onclick = function(e) {
      const {postId} = e.target.dataset
      fetch('/api/classes/' + classId, {method: 'UPDATE'})
        .then(function(res) {
          if (res.status === 200)
            window.location.reload()
        })
    }
  })
</script>